/* Put styles and override all jquery mobile styles here */
.pageButton {
	text-transform: uppercase;
}

#pages {
	margin: 0 !important;
	padding: 0 !important;
}

.error {
	color: red;
}


#timer {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	cursor:pointer;
}